<div class="container mt-5" style="background-color: #B8EAB6; padding: 20px; display: flex; justify-content: space-between; align-items: center;">
  <div style="order: 1;">Users</div>
  <div style="order: 2;"><b> Dashboard</b> > Users</div>
</div>

<div class="card mt-5 mx-auto" style="width: 70rem;height: 30rem;">
  <div class="card-body">
    <h5 class="card-title text-center" style="background-color: #D9D9D9;padding: 20px;"><b> Users Management </b></h5>
    <h6 class="card-subtitle mb-2 mt-4 text-muted">
      <form class="form-group" (ngSubmit) = "ngSubmit()">
        <div class="row">
          <div class="col">
            <input type="text" name="username" placeholder="Username" class="form-control" [(ngModel)] = "user.username">
          </div>
          <div class="col">
            <input type="email" name="email" placeholder="Email" class="form-control" [(ngModel)] = "user.email">
          </div>
          <div class="col">
            <input type="password" name="password" placeholder="Password" class="form-control" [(ngModel)] = "user.password">
          </div>
          <div class="col">
            <input type="password" name="confirmpassword" placeholder="Confirm password" class="form-control" [(ngModel)] = "user.password_confirm">
          </div>
        </div>
        <p class="card-text text-center mt-4"><button type="submit" class="btn btn-warning"
          style="color:white;width: 150px;">
          Add</button></p>
      </form>


    </h6>

        <table class="table table-striped mt-5">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <th>{{user.id}}</th>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>
                <button (click)="deleteUser(user.id)"  class="btn btn-outline-danger">Delete</button>
                <button (click)="updateUser(user.id)" class="btn btn-outline-secondary ms-2">Update</button>
              </td>
            </tr>
          </tbody>
        </table>


  </div>
</div>
