<div class="container-fluid p-0">
  <img src="../assets/images/cook.png" class="w-100" style="height: 300px; object-fit: cover;">
  <div class="text-center mt-5" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <!-- Your content goes here -->
  </div>
</div>
<div class="container mt-5 me-5">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/profile.jpg" alt="MEO hh" style="height: 380px;">
        <div class="card-body">
          <h5 class="card-title text-center">EL OTMANI MOAD</h5>
          <p class="card-text text-center">DEVLOPEMENT ENGINEER</p>
          <ul class="social mb-0 list-inline mt-3 text-center">
            <li class="list-inline-item me-5"><a target="_blank"  href="https://github.com/Moad666" class="social-link"><i style="color:black" class="bi bi-github"></i></a></li>
            <li class="list-inline-item me-5"><a target="_blank"  href="https://www.linkedin.com/in/moad-el-otmani-a128a4256/" class="social-link"><i style="color:black" class="bi bi-linkedin"></i></a></li>
            <li class="list-inline-item"><a target="_blank"  href="https://web.whatsapp.com/" class="social-link"><i style="color:black" class="bi bi-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/nouhh.jpg" alt="Twi7a image">
        <div class="card-body">
          <h5 class="card-title text-center">BENCHLIKHA NOUH</h5>
          <p class="card-text text-center ">DEVLOPEMENT ENGINEER</p>
          <ul class="social mb-0 list-inline mt-3 text-center">
            <li class="list-inline-item me-5"><a target="_blank"  href="https://github.com/Nouh425" class="social-link"><i style="color:black" class="bi bi-github"></i></a></li>
            <li class="list-inline-item me-5"><a target="_blank"  href="https://www.linkedin.com/in/nouh-benchlikha-a2b929245/" class="social-link"><i style="color:black" class="bi bi-linkedin"></i></a></li>
            <li class="list-inline-item"><a target="_blank"  href="https://web.whatsapp.com/" class="social-link"><i style="color:black" class="bi bi-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/amine.jpg" alt="Bana image">
        <div class="card-body">
          <h5 class="card-title text-center">ELBAZI MOHAMED AMINE</h5>
          <p class="card-text text-center">DEVLOPEMENT ENGINEER</p>
          <ul class="social mb-0 list-inline mt-3 text-center">
            <li class="list-inline-item me-5"><a target="_blank"  href="https://github.com/AmineELBAZI" class="social-link"><i style="color:black" class="bi bi-github"></i></a></li>
            <li class="list-inline-item me-5"><a target="_blank"  href="https://www.linkedin.com/in/amine-el-bazi/" class="social-link"><i style="color:black" class="bi bi-linkedin"></i></a></li>
            <li class="list-inline-item"><a target="_blank"  href="https://web.whatsapp.com/" class="social-link"><i style="color:black" class="bi bi-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <h3 class="mt-4 text-center">We are three developers with diverse backgrounds and expertise, collaborating synergistically to bring a comprehensive skill set to our project</h3>
    <p class="mt-3"></p>
  </div>
</div>

