<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4F6F52;">
  <img src="../assets/images/whitee.png" class="img-fluid" style="max-height: 80px;" alt="Flowbite Logo">

  <div *ngIf="(loginService.authenticated$ | async) === false" class="d-flex justify-content-between w-100">
    <ul class="nav mx-auto">
      <li class="nav-item active">
         <a class="nav-link" routerLink = "" style="color: white;">Home</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" routerLink = "/about" style="color: white;">About Us</a>
      </li>
     </ul>
    <button class="btn btn-icon" (click)="openSignupDialog()">
      <i class="bi bi-person text-white"></i>
    </button>
  </div>

  <!-- Admin -->
  <div *ngIf="(loginService.authenticated$ | async) === true" class="d-flex justify-content-between w-100">
    <ng-container *ngIf="(loginService.isSuperUser$ | async) === true">
      <ul class="nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard" style="color: white;">Dashboard</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/users" style="color: white;">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" style="color: white;">Recipes</a>
        </li>
      </ul>
      <button class="btn btn-icon rounded-circle ms-3" style="background-color: orange;" (click)="logout()">
        <i class="bi bi-box-arrow-right text-white"></i>
      </button>
    </ng-container>

    <!-- Simple user-->
    <ng-container *ngIf="(loginService.isSuperUser$ | async) === false" class="d-flex justify-content-between w-100">
      <ul class="nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" style="color: white;">About</a>
        </li>
      </ul>
      <button class="btn btn-icon rounded-circle" style="background-color: orange;" (click)="goToAccount()">
        <i class="bi bi-person text-white"></i>
      </button>
      <button class="btn btn-icon rounded-circle ms-3" style="background-color: orange;" (click)="logout()">
        <i class="bi bi-box-arrow-right text-white"></i>
      </button>

    </ng-container>

  </div>


</nav>

<router-outlet></router-outlet>
